.github
.husky
.idea
coverage
node_modules
src
tests

.commitlintrc.json
.gitignore
.npmrc
.versionrc.json
codecov.yml
docker-compose.yml
eslint.config.mjs
tsconfig.json
vite.config.basic.ts
vite.config.ts
vitest.config.ts
yarn.lock

Makefile
