.github
.husky
.idea
coverage
/node_modules
src
tests

.commitlintrc.json
.eslintrc.js
.gitignore
.npmrc
.versionrc.json
docker-compose.yml
jest.config.ts
rollup.config.ts
tsconfig.json
yarn.lock

Makefile
